nav {
    display: flex;
    background-color: #ffffff;
    height: 45px;
    padding: 8px;
}

nav div{
    width: 34%;
}

nav div img {
    height: 100%;
}

#profile {
    float: right;
}

#search-container > input[type=text] {
    height: 30px;
    width: 80%;
}

.search-container > input[type=button] {
    width: 20%;
}

#posts-container {
    width: 45%;
    margin: auto;
	display:flex;
	justify-content:center;
	align-items:center;
    flex-wrap: wrap;
    background-color: white;
    padding: 30px;
}

.post {
    margin: 10px;
	width: 500px;
	background-color: #ffffff;
	text-align: left;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.post header {
    height: 45px;
    padding: 8px;
}

.post header img{
    height: 100%;
    float: left;
}

.post header small{
    float: right;
    color: grey;
}

.post-image {
    width: 100%;
}

.post footer {
    flex-grow: 4;
    padding: 8px;
}

.post footer button{
    float: left;
}

@media only screen and (max-width: 420px) {
	
}