nav {
    display: flex;
    background-color: #ffffff;
    height: 45px;
    padding: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

nav div{
    width: 34%;
}

nav div img {
    height: 100%;
}

#profile {
    float: right;
}

#search-container > input[type=text] {
    height: 30px;
    width: 80%;
    margin: 0;
    height: 30px;
    padding: 0 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-container > input[type=submit] {
    width: 20%;
    margin: 0;
    height: 30px;
    padding: 0 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#posts-container {
    width: 45%;
    margin: auto;
	display:flex;
	justify-content:center;
	align-items:center;
    flex-wrap: wrap;
    background-color: white;
    padding: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.post {
    margin: 10px;
	width: 500px;
	background-color: #ffffff;
	text-align: left;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.post header {
    height: 45px;
    padding: 8px;
}

.post header img {
    height: 100%;
    float: left;
}

.post header img + small {
    float: right;
    color: grey;
}

.post-image {
    width: 100%;
}

.post footer {
    flex-grow: 4;
    padding: 8px;
}

@media only screen and (max-width: 420px) {
	
}