html, body {

    margin: 0;
	padding: 0;
    background-color: #1b79de;

}

*{
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}

.login-container{	
  height:100vh;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;

	
}

 #loginform{
	min-width: 380px;
	min-height: 150px;
	background-color: #ffffff;
	padding: 45px;
	text-align: center;
	
	
}

.email-box input{
	width: 70%;
    height: 40px;
    padding: 10px;
    font-size: 13px;
	margin: 10px;
	resize: none;
	
}

.password-box input{
	box-sizing: border-box;
	width: 70%;
    height: 40px;
    padding: 10px;
    font-size: 13px;
	resize: none;
	
}

.loginButton button {
    outline: 0;
    background:#0d4985 ;
    width: 25%;
    padding: 10px;
    color: #FFFFFF;
	font-size: 14px;
	text-align: center;
 	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	margin: 10px;
  }

  #loginform .hrefMessage1{
	color: rgb(0, 184, 190);
}

  #loginform .hrefMessage2{
	  color: rgb(0, 184, 190);
	  font-size: 13px;

  }

  .login-container .imga{

	position: relative;
	left: 95px;
	height: 440px;

  }
 